* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.info {
  position: absolute;
  z-index: 99;
  background-color: gray;
}
